<h1>検索</h1>

<%= form_tag('admin_result', :method => :post) do %>
学生番号:
<%= text_field_tag("number", params[:number]) %><br>
<%= submit_tag "検索" %>
<% end %>

<p>
<%= link_to 'TOP', 'admin_index' %>
</p>