<h1>時間設定</h1>
<%= form_tag('admin_time_config_new', :method => :post) do %>
	<%= datetime_select :start_time, :post  %> <br>
	<%= datetime_select :end_time, :post  %> <br>
	<%= submit_tag "create" %>
<% end %>